/* photography.css */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
header, h1{
    color: black;
    justify-content: space-around;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
}
i{
    color: black;
    padding-right: 5px;
}
